@import url("https://fonts.cdnfonts.com/css/general-sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #000000;
  color: #fff;
  font-family: "General Sans", sans-serif;
}

@layer base {
  @font-face {
    font-family: "mona-sans";
    src: url("/fonts/Mona-Sans.woff2") format("woff2");
  }
  @font-face {
    font-family: "fascinate-regular";
    src: url("/fonts/Fascinate-Regular.ttf") format("ttf");
  }
}

@layer utilities {
  .squishy-text {
    font-stretch: 95%;
  }

  .extra-squishy-text {
    font-stretch: 80%;
  }

  .hero h1 {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 15vw;
    font-weight: bolder;
    letter-spacing: -0.5rem;
    line-height: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .hero-p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -5%);
  }

  .hero h1 .char {
    position: relative;
    will-change: transform;
  }
}

/* Page view transition properties */

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

/* scrollbar styling */

::-webkit-scrollbar {
  width: 4px;
  transition: width 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  background: #333333;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0.2px solid #333333;
  border-radius: 10px;
  min-width: 4px;
}

::-webkit-scrollbar:hover {
  width: 8px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 0.2px solid #000000;
}
